body{
   background-color: rgb(35,35,35);
   font-size: 3em;
   height: 100vh;
   margin: 0;
   display: flex;
   justify-content: center;
   align-items: center;
}

#container{
   border: 8px solid #7f8c8d;
   border-radius: 10px;
   display: flex;
   flex-direction: column;
   color: #f1f2f6;
   width: 50%;
   max-width: 800px;
   flex-wrap: nowrap;
   gap: 1px;
   margin: auto;
   
}

#pad{
   display: flex;
   flex-direction: column;
   
}
#pad section{
   display: flex;
   border-top: 0.25px solid black;;
}

#pad{
   font-size: 0;
}

button{
   margin: 0;
   box-shadow: none;
   border: none;
   font-size: 2rem;
   flex-grow: 1;
   max-width: 25%;
   padding: 6px 10px;
   border-right: 0.25px solid black;
}

button:last-child{
   border-right: none;
}
 
.toprow button{
   background-color: #57606f;
   color: #f1f2f6
}
.action{
   background-color: #ffa502;
   color: #f1f2f6
}

#active{
   background-color: #e67e22;
}

.digit, #comma, #erase{
   background-color:#747d8c;
   color: #f1f2f6
}


#operate{
   background-color: #ff7f50;
   color: #f1f2f6
}

#screen{
   background-color: #2f3542;
   padding: 5px 30px;
   display: flex;
   justify-content: flex-end;
}

#operate:active,
button:active,
.digit:active, 
#comma:active, 
#erase:active,
.action:active{
   background-color:#eccc68;
}

#operate:hover,
button:hover,
.digit:hover, 
#comma:hover, 
#erase:hover,
.action:hover{
   filter: brightness(0.9);
   cursor: grab;
   transition: 150ms;
}